@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/*conteudo cabeçalho*/
.cabecalho{
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Poppins",sans-serif;
    min-height: 500px;
}

.cabecalho .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.redes p{
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
}

.icons img{
    margin: 0 6px;
}

.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 30px;
    padding: 0 2.5rem;
    width: 100%;
    height: 95px;
    background-color: #991018;
    margin-top: 30px;
}

.logo{
    position: absolute;
    height: 130px;
    width: auto;
    text-align: center;
}

.logo{
top: 20%;
left: 7%
}

.menu-principal{
    display: flex;
    justify-content: end;
    height: 40px;
}

.ancoras{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.5rem;
    background-color: #404040;
    border-radius: 0px 0px 0px 35px;
    gap: 35px;
}

.ancoras a{
    color: #FFF;
    text-transform: uppercase;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    justify-content: end;
    outline: none;
}

.formulario{
    width: 518px;
}

.formulario-btn{
    font-size: 14px;
    width: 55px;
    height: 35px;
    border-radius: 5px;
    color: #FFF;
    background-color: #404040;
    border: 1px solid #FFF;
    
}
.formulario-input{
    height: 35px;
    width: 415px;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 5px;
    border: 2px solid #FFF;
    background: rgba(0, 0, 0, 0.5);
}
.formulario-input[placeholder]{
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
}



.menu-principal-texto:hover{
    color: #1a2132;
}

.cabecalho-texto{
    font-size: 2rem;
}

.cabecalho-texto p{
    font-size: 2.5rem;
    line-height: 45px;
    font-weight: 300;
    color: #FFF;
    position: absolute;
    left: 80px;
    top: 270px;
}


/*conteudo principal da pagina*/
.categorias{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 30px;

    color: #FFF;
    text-transform: uppercase;
    height: 320px;
    background-color: #991018;
    background-image: url('/assets/img/img11.png');
    background-size: cover;
}


.categorias #texto1{
    line-height: 17px;
    text-align: end;
    width: 50%;
    padding: 0 1.5rem;
}

.categorias #texto2{
    width: 50%;
    text-align: center;
    align-self: flex-start;
    font-size: 32px;
    background-color: #404040;
}

.categorias #texto3{
    line-height: 17px;
    text-align: end;
    width: 25%;
    padding: 0 1.5rem;
}


.cartao-informativo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    background-color: #FFF;
    align-items: center;
    justify-items: center;
    max-width: 1366px;
    height: 500px;
}

.cartao{
    color: #000;
    height: 200px;
    min-width: 220px;
    background-color: #FFF;
    border: 5px solid #E0E0E0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    cursor: pointer;
}

.cartao:hover{
    width: auto;
    height: 230px;
}

.cartao h3{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform:uppercase;
    line-height: 16px;
}

.cartao img{
    width: 100px;
    height: auto;
}


.caixa-manutencao{
    display: flex;
    width: 100%;
    min-height: 400px;
    background-color: #405040;
    
}

.triangulo{
    width: 50%;
    display: flex;
    align-items: center;
    background-image: url('/assets/img/triagulo2.png');
    background-position: right;
    background-repeat: no-repeat;
    padding: 0 20px;
}

.caixa-manutencao p{
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 35px;
}

.caixa-manutencao span{
    text-transform: uppercase;
    color: #F3CC03;
}


.logo-pequenas{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-auto-rows: 30px;
    justify-content: end;
    gap: 25px;
    padding: 0 40px;
}

.logo-pequenas{
    height: 130px;
    width: 100%;
    background-color: #FFF;
}
    
.logo-pequena{
    height: 100px;
    width: auto;
}


.categoria-servicos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "img texto1 texto1"
    "texto2 texto2 texto2"
    "caixa-servicos1 caixa-servicos1 caixa-servicos1"
    "caixa-servicos2 caixa-servicos2 caixa-servicos2"
    "caixa-servicos3 caixa-servicos3 caixa-servicos3";
    align-items: first baseline;
    justify-content: space-between;
    height: 500px;
    width: 100%;
    background-color: #405040;
}

.img{
    grid-area: img;
}

.texto1{
    grid-area: texto1; 
}


.texto2{
    grid-area: texto2;
}


#caixa-servicos1{
    grid-area: caixa-servicos1;
}

#caixa-servicos2{
    grid-area: caixa-servicos2;
}

#caixa-servicos3{
    grid-area: caixa-servicos3;
}

.categoria-servicos>img{
    height: 110px;
    width: auto;
}

.categoria-servicos>#texto1{
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
    padding:0 10px;
}
.categoria-servicos>#texto2{
    width: 50%;
    height: fit-content;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background-color: #991018;
}

.caixas-servicos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100px;
    height: 300px;
}

#caixa-servicos1{
    align-items: flex-end;
}

#caixa-servicos2{
    justify-content:left;
}

#caixa-servicos1{
    align-items: flex-end;
}

.caixa-servicos{
    height: 80px;
    width: 500px;
    background-color: #F3CC03;
}