/*Conteudo principal*/
.conteudo-principal{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #FFF;
}

/*Carrosel*/
.carrosel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    gap: 1rem;
    background-color: brown;
}

.carrosel-indicadores{
    position: relative;
}

.active{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30px;
    gap: 10px;
}

.carrosel, .carrosel-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.carrosel-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.carrosel-item{
    opacity: 0;
    transition: opacity.2s;
    position: absolute;
    width: 750px;
    height: 60vh;
    border-radius: 10px;
}

.on{
    opacity: 1;
}

#carrosel-btn-voltar, #carrosel-btn-avancar{
    width: 50px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}